/* @font-face {
  font-family: "HarmonyOS";
  src: url('Fonts/HarmonyOS_Sans.eot');
  src: url('Fonts/HarmonyOS_Sans.ttf') format("truetype"),
    url('Fonts/HarmonyOS_Sans_Light.ttf') format("truetype"),
    url('Fonts/HarmonyOS_Sans_Bold.ttf') format("truetype"),
    url('Fonts/HarmonyOS_Sans.woff') format("woff");

    font-style: normal;
    font-weight: 400;
} */
